# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
# Recommended for most uses
DATABASE_URL=postgres://neondb_owner:npg_bmu97ntljfLx@ep-small-star-a4h60lcf-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_bmu97ntljfLx@ep-small-star-a4h60lcf.us-east-1.aws.neon.tech/neondb?sslmode=require

# Parameters for constructing your own connection string
PGHOST=ep-small-star-a4h60lcf-pooler.us-east-1.aws.neon.tech
PGHOST_UNPOOLED=ep-small-star-a4h60lcf.us-east-1.aws.neon.tech
PGUSER=neondb_owner
PGDATABASE=neondb
PGPASSWORD=npg_bmu97ntljfLx

# Parameters for Vercel Postgres Templates
POSTGRES_URL=postgres://neondb_owner:npg_bmu97ntljfLx@ep-small-star-a4h60lcf-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_URL_NON_POOLING=postgres://neondb_owner:npg_bmu97ntljfLx@ep-small-star-a4h60lcf.us-east-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-small-star-a4h60lcf-pooler.us-east-1.aws.neon.tech
POSTGRES_PASSWORD=npg_bmu97ntljfLx
POSTGRES_DATABASE=neondb
POSTGRES_URL_NO_SSL=postgres://neondb_owner:npg_bmu97ntljfLx@ep-small-star-a4h60lcf-pooler.us-east-1.aws.neon.tech/neondb
POSTGRES_PRISMA_URL=postgres://neondb_owner:npg_bmu97ntljfLx@ep-small-star-a4h60lcf-pooler.us-east-1.aws.neon.tech/neondb?connect_timeout=15&sslmode=require